firestation_count: êµ¬ ë‚´ ì†Œë°©ì„œ ë° ì•ˆì „ì„¼í„° ìˆ˜

firestation_type_ratio: ì†Œë°©ì„œ ëŒ€ë¹„ ì•ˆì „ì„¼í„° ë¹„ìœ¨ (ë³´ì¡° ì§€í‘œ)

ì†Œë°©ì„œëŠ” ê´‘ì—­ì  ê´€í• , ì•ˆì „ì„¼í„°/êµ¬ì¡°ëŒ€ëŠ” ìƒí™œê¶Œ ëŒ€ì‘ ì—­í• 

firestation_density: êµ¬ ë©´ì  ëŒ€ë¹„ ì†Œë°©ì‹œì„¤ ë°€ë„ (ë©´ì  ë°ì´í„°ì™€ ê²°í•© ì‹œ í™œìš©)

ğŸ‘‰ í˜„ì¬ ë°ì´í„°ì…‹ë§Œìœ¼ë¡œëŠ” ì£¼ì†Œ â†’ êµ¬ ë§¤í•‘ ê³¼ì •ì´ í•„ìš”
(ì£¼ì†Œ ì»¬ëŸ¼ì´ ì—†ê³ , ì„œÂ·ì„¼í„°ëª…ë§Œ ìˆìœ¼ë¯€ë¡œ í–‰ì •êµ¬ ë§¤í•‘ í…Œì´ë¸”ì„ ë§Œë“¤ê±°ë‚˜
X,Y ì¢Œí‘œë¥¼ í–‰ì •êµ¬ ê²½ê³„ Shapefileê³¼ spatial join í•˜ë©´ ì •í™•íˆ ë§¤í•‘ ê°€ëŠ¥)

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
# 1. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv("../../data/FIR-FIRESTATION/FIR-FIRESTATION.csv")
print("ì›ë³¸ í¬ê¸°:", df.shape)
display(df.head())

# 2. êµ¬ ì¶”ì¶œ (ì„œÂ·ì„¼í„°ëª…ì—ì„œ 'êµ¬' í¬í•¨ëœ ë¶€ë¶„ì„ ê¸°ì¤€)
# ì˜ˆ: 'ê°•ë¶ì†Œë°©ì„œ' â†’ 'ê°•ë¶êµ¬', 'ìŒë¬¸119ì•ˆì „ì„¼í„°' â†’ 'ë„ë´‰êµ¬'
# (â€» ë” ì •í™•íˆ í•˜ë ¤ë©´ í–‰ì •ë™ ì¢Œí‘œ ê¸°ë°˜ Spatial Join í•„ìš”)
def extract_gu(name):
    for gu in ["ì¢…ë¡œêµ¬","ì¤‘êµ¬","ìš©ì‚°êµ¬","ì„±ë™êµ¬","ê´‘ì§„êµ¬","ë™ëŒ€ë¬¸êµ¬","ì¤‘ë‘êµ¬","ì„±ë¶êµ¬","ê°•ë¶êµ¬","ë„ë´‰êµ¬",
               "ë…¸ì›êµ¬","ì€í‰êµ¬","ì„œëŒ€ë¬¸êµ¬","ë§ˆí¬êµ¬","ì–‘ì²œêµ¬","ê°•ì„œêµ¬","êµ¬ë¡œêµ¬","ê¸ˆì²œêµ¬","ì˜ë“±í¬êµ¬",
               "ë™ì‘êµ¬","ê´€ì•…êµ¬","ì„œì´ˆêµ¬","ê°•ë‚¨êµ¬","ì†¡íŒŒêµ¬","ê°•ë™êµ¬"]:
        if gu.replace("êµ¬","") in name:
            return gu
    return None

df["gu"] = df["ì„œã†ì„¼í„°ëª…"].apply(extract_gu)

# 3. êµ¬ë³„ ì§‘ê³„
agg = df.groupby("gu").agg(
    firestation_count=("ì„œã†ì„¼í„°ëª…","count"),
    firestation_type_unique=("ìœ í˜•êµ¬ë¶„ëª…","nunique")
).reset_index()

# ì†Œë°©ì„œ/ì„¼í„° ë¹„ìœ¨
agg["firestation_type_ratio"] = (
    df.groupby("gu")["ìœ í˜•êµ¬ë¶„ëª…"].apply(lambda x: (x=="ì†Œë°©ì„œ").sum() / len(x))
).values

display(agg.head())

# 4. ì ìˆ˜í™”
scaler = MinMaxScaler(feature_range=(0,100))
scaled = scaler.fit_transform(agg[["firestation_count", "firestation_type_ratio"]])

score_df = agg[["gu"]].copy()
score_df["firestation_count_score"] = scaled[:,0]
score_df["firestation_ratio_score"] = scaled[:,1]

# 5. ì¢…í•© ì ìˆ˜
score_df["firestation_mean_score"] = score_df.filter(like="_score").mean(axis=1)

# 6. ì €ì¥
score_df.to_csv("../../result/FIR/FIR-FIRESTATION_result.csv", index=False, encoding="utf-8-sig")

score_df.head()

ì›ë³¸ í¬ê¸°: (180, 9)

,ì—°ë²ˆ,ì„œã†ì„¼í„°ID,ì„œã†ì„¼í„°ëª…,ìœ í˜•êµ¬ë¶„ëª…,ë„ì„œì§€ì—­í¬í•¨ì—¬ë¶€,ìƒìœ„ì„œã†ì„¼í„°ID,ì¼ë ¨ë²ˆí˜¸,Xì¢Œí‘œ,Yì¢Œí‘œ
0,1,1110108,ìŒë¬¸119ì•ˆì „ì„¼í„°,ì•ˆì „ì„¼í„°/êµ¬ì¡°ëŒ€,NaN,1110000,1,202367.981000,560953.287000
1,2,1125000,ê°•ë¶ì†Œë°©ì„œ,ì†Œë°©ì„œ,NaN,1100000,2,203372.134150,559271.253735
2,3,1125101,ë²ˆë™119ì•ˆì „ì„¼í„°,ì•ˆì „ì„¼í„°/êµ¬ì¡°ëŒ€,NaN,1125000,3,203369.039207,559276.675604
3,4,1125201,êµ¬ì¡°ëŒ€,ì•ˆì „ì„¼í„°/êµ¬ì¡°ëŒ€,NaN,1125000,4,203375.742707,559265.794952
4,5,1113105,ê³µë•119ì•ˆì „ì„¼í„°,ì•ˆì „ì„¼í„°/êµ¬ì¡°ëŒ€,NaN,1113000,5,196444.779849,550061.600108

    gu  firestation_count  firestation_type_unique  firestation_type_ratio
0  ê°•ë‚¨êµ¬                  1                        1                1.000000
1  ê°•ë™êµ¬                  1                        1                1.000000
2  ê°•ë¶êµ¬                  1                        1                1.000000
3  ê°•ì„œêµ¬                  1                        1                1.000000
4  ê´€ì•…êµ¬                  3                        2                0.333333

,gu,firestation_count_score,firestation_ratio_score,firestation_mean_score
0,ê°•ë‚¨êµ¬,0.0,100.000000,50.000000
1,ê°•ë™êµ¬,0.0,100.000000,50.000000
2,ê°•ë¶êµ¬,0.0,100.000000,50.000000
3,ê°•ì„œêµ¬,0.0,100.000000,50.000000
4,ê´€ì•…êµ¬,50.0,16.666667,33.333333